:root {

--burbl: #542350;
--grijs: #695A86;
--ooggrijs: #1F172C;
--oogwit: #A48F97;



body {
	min-height:100dvh;
	background-color: var(--grijs);
	border-style: double;
	border-color: var(--burbl);
	margin: 1%;
	padding: 0px;
	overflow: scroll;
}

h1 {
font-family: monospace;
font-size: 10vw;
color: var(--oogwit); 
text-align: center; 
text-decoration-line: underline; 
text-decoration-color: var(--burbl);
text-decoration-style: double;
margin: 0 0 0.3em 0;
}

p {
font-family: monospace;
font-size: 3vw;
color: var(--burbl); 
text-align: center;
}

h3 {
font-family: monospace;
color: var(--oogwit); 
text-align: center; 
}


.sumoknop {
width: 90%;
height: 80%;
color: var(--oogwit);
font-size: 12vh;
font-family: copperplate;
background-image: url("sumo.png");
background-repeat: space;
background-color: var(--grijs);
border-width: thick;
border-color: var(--grijs);
}

.label {
	font-family: copperplate;
	color: var(--oogwit); 
	text-align: center;
	font-size: 5vw;
	  display: block;
	  text-align: center;
}

.center {
	  display: flex;
	 justify-content: center;
	  align-items: center;
	align-content: center;
	height: 100%;
	}

.centeryes {
	  display: flex;
	 justify-content: center;
	  align-items: center;
	align-content: center;
	height: 90%;
	position: sticky;
	}

.containerdiv {
height:100%;
display: flex;
flex-direction: column;
	}



input, textarea {
	background-color: var(--ooggrijs);
	border-style:double;
	border-width:thick;
	border-radius: 20vw 8vw;
	border-color: var(--burbl);
	color: var(--oogwit); 
	text-align: center;
	width:70vw;
	min-height:5vh;
	font-size: 3vw;
	font-family: monospace, sans serif;
	margin:	1vh 0vw 5vh;
}

   .footer{ 
       position: fixed;     
       text-align: center;    
       bottom: 0px; 
       width: 100%;
   }  

	.header {
	position: relative;
	text-align: center;
	top: 0px;
	width: 100%;
	margin-bottom: 30px;
	border-bottom: 3px solid var(--ooggrijs)
	}

.relative {
position: relative;
background-color: white;
width: 100%;
display: inline-block;
height: 10vh;
	}

}


